em
{
  color: white;
  font-weight: bold;
  font-style: normal;
}

body 
{ 
  color: gray;
  background-color: black; 
  text-align: center; 
  padding: 0px;
  margin: 0px;
}

.abstract 
{
  text-align: justify;
  margin-left: 100;
  margin-right: 100;
}

div.header h1
{
  color: #FFEE88;
  font-size: 36pt;
  font-style: italic;
}

h1
{
  color: #FFFFDD;
  font-size: 24pt;
  font-style: italic;
  padding: 0px;
  margin: 0px;
}

hr
{
  color: black;
  background-color: white;
  border-color: white;
  border-width: 0px;
  height: 2px;
  padding: 0px;
  margin: 0px;
}

div.header
{ 
    color: white; 
    background-color: black;
    padding: 20px;
    margin: 0px;
}

div.std
{ 
    color: silver; 
    background-repeat: repeat-x;
    background-position: top center;
    background-image: url(img/site-divtop.png);
    background-color: black;
    padding: 20px;
    margin: 0px;
}

div.footer
{ 
    color: gray; 
    background-color: black;
    margin: 0px;
    padding: 0px;
}

.stack {
         font-size: small;
         height: 50%;
         display: inline;
         margin: 0px;
         padding: 0px;
         border: 0px;
         vertical-align: bottom;
}

.center {
          text-align: center;
}

center.logo div.nav
{
    color: white;
    background-color: #001122;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    padding: 10px;
    width: 80%;
}

div.nav
{
    color: white;
    background-color: #001122;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    padding: 10px;
    width: 80%;
}

p 
{ 
    color: silver;
    text-align: left;
    text-indent: 2em;
}

p.noindent
{ 
    color: silver;
    text-align: left;
    text-indent: 0;
}

ul
{
    color: silver;
    text-align: left;
}

li {
    color: silver;
}

span 
{
    color: silver;
}

a 
{ 
    color: #CCFFFF; 
}

table
{
    border: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

table.define 
{
  width: 80%;
  margin: 0px 10% 0px 10%;
  text-align: left;
}

div.quote
{
    color: white;
    margin: 0% 15% 0% 15%;
    text-align: left;
}

div.quote p
{
    color: white;
    text-align: left;
}

div.quote ol
{
    color: white;
    text-align: left;
}

table.gloss td
{
    text-align: left;
}

#application
{
    width: 100%;
}

#appVisualizer
{
    width: 600px;
}

#appOptions
{
    height: 150px;
}

#appPlotType
{
    float: left;
    padding: 10px;
}

#appFunction
{
    float: left;
}

#appFuncBase
{
    float: right;
    padding: 10px;
}

#appFuncHeight
{
    float: right;
    padding: 10px;
}

#appPlotBorder
{
    background-color: #111111;
    padding: 25px;
}

#appPlot
{
    margin: 0px;
    padding: 25px;
    background-color: black;
}




