    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{page_title}}</title>
    <meta name="description" content="{{page_description}}">
    <meta name="viewport" content="width=device-width">
    <base href="/tetration/"/>
