    <link rel="stylesheet" href="css/vendor/bootstrap-3.0.0.min.css">
    <link rel="stylesheet" href="css/vendor/bootstrap-theme-3.0.0.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="js/vendor/require-2.1.8.min.js"></script>
    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script src="js/vendor/bootstrap-3.0.0.min.js"></script>
